@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html, body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
     font-family: "Edu QLD Hand", cursive;
}
.wrapper {
    width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

/*
* menu
*/
nav {
    background-color: #222831;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav > .wrapper{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
}

.menu{
    width: 50%;
}

.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

.menu > ul > li > a {
    text-decoration: none;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
}
.logo > img {
    height: 45px;
}

/*
* hero / jumbotron
*/
header {
    background: url("../images/okok.png");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    text-shadow: 0 0 4px #000;
}
.header-opacity{
    background-color: #222831;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}

.header-jumbotron {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header-jumbotron > h4 {
    color: #DE9B22;
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
}

.header-jumbotron > h5 {
    color: #fff;
    margin: 0px;
    padding: 5px;
    font-size: 3rem;
    line-height: 3.5rem;
}

.header-jumbotron > p {
    color: deepskyblue;
    padding: 5px;
    margin: 0px 5px 15px 5px;
}

a {
    text-decoration: none;
    color: #333;
    text-shadow: none;
}

.button {
    background-color: #DE9B22;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
}

.button-xl {
    font-size: 1.4rem;
    padding: 20px;

}

/*
* statistic
*/
#statistic {
    background-color: #393E46;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

#statistic > .wrapper {
    padding: 50px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

#statistic > .wrapper > div {
    text-align: center;
}

#statistic > .wrapper > div > p {
    font-size: 4rem;
    margin: 0px;
    padding: 0px;
}

#statistic > .wrapper > div > p > i {
    margin-right: 10px;
}

#statistic > .wrapper > div > small {
    font-size: 1.5rem;
}

/*
* tentang saya
*/

#tentang-saya {
    background-color: #EEEEEE;
    color: #333;
}

#tentang-saya > .wrapper {
    padding: 50px 0px 50px 0px;
}

#tentang-saya > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}

#tentang-saya > .wrapper > p {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 50px;
}

#tentang-saya > .wrapper > div {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

#tentang-saya > .wrapper > div > .foto {
    width: 35%;
}

#tentang-saya > .wrapper > div > .foto > img {
    max-width: 100%;
}

#tentang-saya > .wrapper > div > .desc {
    width: 70%;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
}

#tentang-saya > .wrapper > div > .desc > p {
   font-family: "Open Sans", sans-serif;
   margin: 0px 0px 10px 0px;
   font-size: 1rem;
   line-height: 1.9rem;
}

#tentang-saya > .wrapper > div > .desc > .social {
    display: flex;
    width: 20%;
    justify-content: space-between;
    font-size: 1.3rem;
}

#tentang-saya > .wrapper > div > .desc > .social > a {
    color: #00ADB5;
}

/*
* hamburger menu
*/
button.hamburger-menu {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

button.hamburger-menu > i {
    color: #fff;
   font-size: 1.1rem;
}

button.hamburger-menu > i.icon-close {
   display: none; 
}

/*
* 1024, 900, 768
*/
@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 900px) {
    #statistic > .wrapper > div > p {
        font-size: 2.5rem;
        margin: 0px;
        padding: 0px;
    }

    #statistic > .wrapper > div > p > i {
        font-size: 2.5rem;
    }
    #statistic > .wrapper > div > small {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .menu{
        width: 60%;
    }
    .header-jumbotron > h4 {
        font-size: 1.5rem;
    }
    .header-jumbotron > h5 {
        font-size: 2rem;
        line-height: 2.2rem;
    }
    .header-jumbotron > p {
        font-size: 0.8rem;
    }
    .button {
        padding: 5px;
    }
    .button-xl {
        font-size: 1.2rem;
        padding: 12px;
    }

    #statistic > .wrapper > div > p {
        font-size: 1.5rem;
        margin: 0px;
    }
    #statistic > .wrapper > div > p > i {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {

    #statistic > .wrapper {
        padding: 10px;
        flex-direction: column;
    }

    #statistic > .wrapper > div {
        display: flex;
    }

    #statistic > .wrapper > div > small {
        font-size: 1.5rem;
        padding-left: 10px;
    }

    #tentang-saya > .wrapper > div {
        width: 100%;
        flex-direction: column;
    }

    #tentang-saya > .wrapper > .foto {
        width: 50%;
    }

    #tentang-saya > .wrapper > .foto > img {
        max-width: 100%;
    }

    #tentang-saya > .wrapper > .desc {
        width: 70%;
        padding: 20px;
        margin: 10px;
    }

    #tentang-saya > .wrapper > .desc > .social {
        margin: auto;
    }

    button.hamburger-menu {
        display: inline;
    }
    .menu {
        display: none;
    }

    .tampil {
        display: inline;
    }
    .tampil > ul {
        flex-direction: column;
        background-color: #000;
        width: 100%;
        position: fixed;
        top: 85px;
        left: 0;
    }

    .tampil > ul > li {
        padding: 10px 20px 10px 20px;
    }
}

/*
* portofolio-2D
*/
#portofolio-2D {
    background-color: #222831;
    color: #fff;
}

#portofolio-2D > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}

#portofolio-2D > .wrapper > h4 > span {
    color: #DE9B22;
}

#portofolio-2D > .wrapper > p {
    text-align: center;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

.grid-2D {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 50px;
    margin: 10px;
    padding: 10px;
}
.grid-2D > .item {
    border: 3px solid #666;
    background-color: #393e46;
    border-radius: 4px;
    position: relative;
}

.grid-2D > .item > img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

}

html {
    scroll-behavior: smooth;
}

/*
* portofolio-3D
*/
#portofolio-3D {
    background-color: #666;
    color: #fff;
}

#portofolio-3D > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}

#portofolio-3D > .wrapper > h4 > span {
    color: #DE9B22;
}

#portofolio-3D > .wrapper > p {
    text-align: center;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

.grid-3D {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 50px;
    margin: 10px;
    padding: 10px;
}
.grid-3D > .item {
    border: 3px solid #fff;
    background-color: #393e46;
    border-radius: 4px;
    position: relative;
}

.grid-3D > .item > img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

}
